@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Add new client</h3>
  <hr>
  <form action="/clients" method="post">
    <label for="client-name"> Client Name:</label>
    <input type="text" name="client-name" id="client-name">
    <hr>
    <button type="submit"> Add </button>
    <hr>
  </form>
  <br>
  <h4><a href="/"> Home </a></h4>
</div>
