@{
  Layout = "_Layout";
}

<div class="container">
    <h3>Add Client for @Model.GetName()</h3>
    <hr>

    <form action="/stylists/@Model.GetId()/clientlist" method="post">
      <label for="client-name">New Client</label><br>
      <input type="text" name="client-name">
      <br>
      <hr>
      <button type="submit" name="button">Add Client</button>
      <hr>
    </form>
    <br>
    <hr>
    <a href="/stylists/@Model.GetId()/clientlist">View Client List</a><br>
    <hr>
    <a href="/">Home</a>
    <hr>
  </div>
