@{
Layout = "_Layout";
}

<div class="container">
        <h1>Add a New Stylist</h1>
        <hr>
        <form action="/stylists" method="post">
          <label for="stylist-name">Name: </label>
          <input id="stylist-name" name="stylist-name" type="text">
          <br>
          <hr>
          <button type="submit">Add</button>
          <hr>
        </form>
        <p><a href="/">Home</a></p>
    </div>
