@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add Client for @Model.GetClientName()</h1>
  <hr>

  <form action="/stylists/@Model.GetId()/clientlist" method="post">
    <label for="client-name">Name: </label><br>
    <input type="text" name="client-name">
    <br>
    <hr>
    <button type="submit" name="button">Add Client</button>
    <hr>
  </form>
  <br>
  <a href="/stylists/@Model.GetId()/clientlist">View Clients</a><br>
  <a href="/">Home</a>
</div>
