@{
Layout = "_Layout";
}

<div class="container">
        <h3>Add a New Stylist</h3>
        <br>
        <hr>
        <form action="/stylists" method="post">
          <label for="stylist-name">Stylist Name</label>
          <input id="stylist-name" name="stylist-name" type="text">
          <br>
          <hr>
          <button type="submit">Add</button>
          <hr>
        </form>
        <br>
        <br>
        <hr>
        <p><a href="/">Home</a></p>
        <hr>
    </div>
