@{
Layout = "_Layout";
}

    <div class="container">
        <h1>Hairy Hair Hair Salon</h1>
        <hr>
        <h3><a href='/stylists'>View All Stylists</a></h3>
        <hr>
        <br>
    </div>
