@{
Layout = "_Layout";
}

    <div class="container">
        <h1>Hair Salon</h1>
        <hr>
        <h3><a href='/stylists'>View All Stylists</a></h3>
        <hr>
        <br>
        <hr>
        <h3><a href='/stylists/form'>Add a new Stylist</a></h3>
        <hr>
    </div>
