@{
  Layout = "_Layout";
}

<h3>Add Stylist</h3>
<br>
<hr>
<form action="/stylists" method="post">
  <label for="name">Stylist's Name: </label>
  <input required type="text" name="stylist-name" placeholder="Stylist's Name" id="name">

  <hr>
  <button type="submit"> Add </button>
</form>
<br>
<p><a href="/"> Home </a></p>
<p><a href="/stylists"> View all Stylists</a></p>
