@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Edit Stylist: @Model.GetName()</h2>
  <br>
  <form action="/stylists/@Model.GetId()/update" method="post">
    <label for="new-name"> Name: </label>
    <input id="new-name" type="text" name="newname" value="@Model.GetName()">
    <hr>
    <button type="submit"> Update </button>
    <hr>
  </form>
  <br>
  <h4><a href="/stylists"> Return Home</a></h4>
</div>
